################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ispit.Konzola/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
